* {
  box-sizing: border-box;
}

html {
    background: url(images/road-3160x1846-path-autumn-forest-trees-leaves-4k-1251.jpg);
    background-size: cover;
    background-attachment: fixed;
}

body {
    font-family: Arial;
    margin: 20px;
    
}

.header {
    padding: 20px;
    text-align: center;
    background-color: #ff8c1a;
    position: sticky;
    top: 0;
}

/* style links */
.buttons a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
}

/* change link colour on hover */
.buttons a:hover {
    background-color: #ddd;
    color: black;
}

.buttons {
    overflow: hidden;
    background-color: #333;
    position: sticky;
    top: 100px;
}

.columnLeft {
    float: left;
    width: 75%;
}




.columnRight {
    float: left;
    width: 25%;
    padding-left: 20px;
    
}


/* clear floats after the columns because there's no more pictures */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* add card effect */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* small shadow behind the background of the boxes */
.welcomeCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* footer */
.footer{
    text-align: center;
    margin-top: 20px;
}

.clearfix {
  overflow: auto;
}

.image {
    float: left;
    width: 230px; 
    height: 250px; 
    margin-right: 15px; 
    border: 1px solid #ccc;
}
.bookCover {
    float: left;
    width: 230px; 
    height: 300px; 
    margin-right: 15px; 
    border: 1px solid #ccc;
}

.fakeimg {
  background-color: #aaa;
  width: 35%;
  padding: 20px;
    margin-right: 20px;
}

.websiteLink {
    padding-top: 145px;
    padding-left: 450px
}

.websiteLink a{
    color: white;
    background-color: #ffad33;
    text-align: center;
    padding: 15px 17px;
    text-decoration: none;
    border-radius: 6px;
    
}

.websiteLink a:hover {
    background-color: #ff8c1a;
}